@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar { width: 6px; height: 6px; }
  ::-webkit-scrollbar-track { background: #181611; }
  ::-webkit-scrollbar-thumb { background: #393528; border-radius: 3px; }
  ::-webkit-scrollbar-thumb:hover { background: #f4c025; }
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
  body { min-height: 100dvh; background-color: #181611; color: white; margin: 0; }
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  .material-symbols-outlined.filled {
    font-variation-settings: 'FILL' 1;
  }
}
